weather_cliente/src/conf/xml-resources/web-service-references/ClimaWS/wsdl/localhost_20669/weather_service/ClimaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio.weather_service.udea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.weather_service.udea.com/">

<xs:element name="GuardarClima" type="tns:GuardarClima"/>

<xs:element name="GuardarClimaResponse" type="tns:GuardarClimaResponse"/>

<xs:element name="verClimas" type="tns:verClimas"/>

<xs:element name="verClimasResponse" type="tns:verClimasResponse"/>

<xs:complexType name="clima">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="fechaIngreso" type="xs:dateTime" minOccurs="0"/>
<xs:element name="humedad" type="xs:string" minOccurs="0"/>
<xs:element name="humedad2" type="xs:string" minOccurs="0"/>
<xs:element name="humedad3" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="precipitacion" type="xs:string" minOccurs="0"/>
<xs:element name="precipitacion2" type="xs:string" minOccurs="0"/>
<xs:element name="precipitacion3" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados2" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados3" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith2" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith3" type="xs:string" minOccurs="0"/>
<xs:element name="tipoNubosidad" type="xs:string" minOccurs="0"/>
<xs:element name="tipoNubosidad2" type="xs:string" minOccurs="0"/>
<xs:element name="tipoNubosidad3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verClimas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verClimasResponse">
<xs:sequence>
<xs:element name="return" type="tns:clima" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GuardarClima">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados" type="xs:string" minOccurs="0"/>
<xs:element name="humedad" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_nubosidad" type="xs:string" minOccurs="0"/>
<xs:element name="precipitacion" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith2" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados2" type="xs:string" minOccurs="0"/>
<xs:element name="humedad2" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_nubosidad2" type="xs:string" minOccurs="0"/>
<xs:element name="precipitacion2" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualfarenheith3" type="xs:string" minOccurs="0"/>
<xs:element name="tempactualcentigrados3" type="xs:string" minOccurs="0"/>
<xs:element name="humedad3" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_nubosidad3" type="xs:string" minOccurs="0"/>
<xs:element name="precipitacion3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GuardarClimaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>